* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    min-height: 100vh;
    padding: 20px;
    gap: 1rem;
    grid-template-areas: 
    "one one two two . four ."
    "three three three three . four ."
    "five five five five five five five"
    ". . . six six six six"
    ". . . seven seven seven seven"
    ". . . seven seven seven seven";
}

#subgrid {
    display: grid;
    padding: 5px;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    column-gap: 0;
    grid-template-areas: 
    "eight eight . ."
    ". . nine nine";
}

div {
    border: 1px solid black;
    box-shadow: 2px 2px black;
}

.white {
    background-color: white;
}

.one {
    grid-area: one;
}

.two {
    grid-area: two;
}

.purple {
    background-color: purple;
}

.three {
    grid-area: three;
}

.gray {
    background-color: gray;
    border-radius: 50%;
}

.four {
    grid-area: four;
}

.violet {
    background-color: blueviolet;
}

.five {
    grid-area: five;
}

.six {
    grid-area: six;
}

.blue {
    background-color: rgb(0, 204, 255);
}

.seven {
    grid-area: seven;
}

.eight {
    grid-area: eight;
}

.nine {
    grid-area: nine;
}