* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div {
    border: 1px solid black;
}

.left-side {
    display: grid;
    grid-template-rows: 1fr 6fr 2fr;
    grid-column: 1/3;
}

.chess {
    display: grid;
    grid-tem