* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#container {
    background-color: gray;
    box-shadow: 10px 5px 5px black;
    width: fit-content;
}

.box {
    width: 50px;
    height: 50px;
    border: solid 1px black ;
    display: inline-block
}

#first {
    background-color: green;
}

#second {
    background-color: orange;
}

.button {
    background-color: aqua;
    padding: 1px;
}