* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ex1 {
    transform: translate(50vw);
    width: 5%;
    border: 2px solid black;
}

nav {
    background-color: bisque;
    position: fixed;
    width: 100%;
    top: 0;
}

li {
    display: inline-block;
    margin: 10px;
}

p {
    margin-top: 50px;
    overflow: hidden;
}

footer {
    background-color: aqua;
    position: fixed;
    width: 100%;
    height: 50px;
    bottom: 0;
}